//项目提供scss全局变量
//定义项目主题颜色

//主题颜色
$base-color: #1890ff;


// 左侧菜单

//左侧的菜单的宽度
$base-menu-width:260px;
//左侧菜单的背景颜色
$base-menu-background:#001529;
//左侧菜单的字体颜色
$base-menu-color: #fff;
//左侧菜单的激活字体颜色
$base-menu-active-color: $base-color;



//顶部导航

// tab选中的颜色
$base-tabbar-active-color: $base-color;
